In [49]:
import numpy
import pandas
import os
import json
import re

In [50]:
movies = pandas.read_csv('movies-archive-data/tmdb_5000_movies.csv')
credits = pandas.read_csv('movies-archive-data/tmdb_5000_credits.csv')

In [51]:
movies = movies.merge(credits, on='title')

In [52]:
movies.shape

(4809, 23)

In [53]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [54]:
movies.dropna(inplace=True)

In [55]:
 movies.shape

(4806, 7)

In [56]:
movies.duplicated().sum()

0

In [57]:
def normalize_column(json_data, column_key, item_count=-1):
    my_obj = json.loads(json_data)
    end_index = len(my_obj) if item_count <= 0 else item_count
    data = [re.sub(r'\s+', '', item[column_key]) for item in my_obj[:end_index]]
    return data

In [58]:
movies.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [59]:
movies["genres"] = movies["genres"].apply(lambda json_data: normalize_column(json_data, "name"))

In [60]:
movies["keywords"] = movies["keywords"].apply(lambda json_data: normalize_column(json_data, "name"))

In [61]:
movies["cast"] = movies["cast"].apply(lambda json_data: normalize_column(json_data, "name", 3))

In [62]:
def pluck_director(json_data):
    my_obj = json.loads(json_data)
    director = [re.sub(r'\s+', '', item["name"]) for item in my_obj if item["job"] == "Director"]
    return director

In [63]:
movies["crew"] = movies["crew"].apply(pluck_director)

In [64]:
movies["overview"] = movies["overview"].apply(lambda str_data: str_data.split())

In [65]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]